Flask==2.0.3
requests==2.26.0
numpy>=1.26
streamlit
PyPDF2
python-docx
pandas
plotly
altair
wordcloud
matplotlib
textblob
transformers>=4.36.2,<4.40.0
torch
langchain
langchain-community
sentence-transformers
faiss-cpu